nav#navbar(class=(isFrontPage ? 'navbar is-fixed-top is-dark' : 'navbar is-fixed-top is-white'))
  .container
    .navbar-brand
      a.navbar-item(href='/')
        img(src='/assets/images/static/navbar-logo-small.png' alt='Logo')
      span.navbar-burger.burger(data-target='navbarMenu' id='my-navbar-burger')
        span
        span
        span
    #navbarMenu.navbar-menu
      .navbar-end
        .navbar-item
          a.navbar-link.is-arrowless(href='/')
            | Home
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link
            | Docs
          .navbar-dropdown
            a.navbar-item
              | Getting started
            a.navbar-item
              | Configuration
            a.navbar-item
              | Process clustering
            a.navbar-item
              | Logging
            a.navbar-item
              | Utils
            hr.navbar-divider
            .navbar-item
              | Version 0.9.1
        .navbar-item
          a.navbar-link.is-arrowless
            | Team