extends layout/_application.pug

block pageAttributes
  - const pageTitle = 'Contact - Nurminen Development Oy Ltd'
  - const pageCanonical = 'https://nurminen.dev/contact'

block content
  include shared/_navbar.pug

  section.mb-4
    .content
      .box
        h2.title.is-size-2 Contact information
        .columns.is-centered
          .column.is-three-fifths
            p.mb-4
              | I'm located in the Pirkkala area, near Tampere, Finland.
            p.mb-4
              | Best way to contact me is via email:
            p.mb-0
              img.mb-4(src=require('FRONTEND/nurminendev/images/static/email.jpg').default alt='[email-image]' width='300')
            p.mb-4
              | Sometimes I might also pick up the phone at:
            p.mb-4
              img.mb-4(src=require('FRONTEND/nurminendev/images/static/phone.png').default alt='[phone-image]' width='200')
            h3.title.is-size-3.mt-2 Business contact
            p.mb-4
              strong Nurminen Development Oy Ltd
              br
              | Manskiventie 714
              br
              | 16710 HOLLOLA
            p.mb-4
              | Business ID: 3181398-7
          .column
            .box
              img.modal-button(src=require('FRONTEND/nurminendev/images/static/pirkkala-area.jpg').default data-target='pirkkala-modal' alt='[pirkkala-area]')
              p.mb-4.is-italic.is-size-7.has-text-centered
                | Pirkkala, Finland

  #pirkkala-modal.modal.modal-fx-superScaled
    .modal-background.fastertransition
    .modal-content.is-huge.is-image.fastertransition
      img(src=require('FRONTEND/nurminendev/images/static/pirkkala-area-big.jpg').default alt='[pirkkala-area]')
    button.modal-close.is-large(aria-label='close')
