extends ../../layout/_application.pug

block pageAttributes
  - const pageTitle = 'Configuration - Unnode.js'
  - const pageCanonical = 'https://unnodejs.org/doc/latest/configuration'

block content
  include ../../shared/_navbar.pug

  section.hero.header-image.pt-6.pb-6
    .hero-body
      .container.is-fullhd.mt-6
        h1.title.has-text-white
          | Configuration

  section
    .container.is-fullhd.mt-6.mb-6
      .content
        h2.title ...
        p
          | ...
