extends ../../layout/_application.pug

block pageAttributes
  - const pageTitle = 'Utils'
  - const pageCanonical = 'https://unnodejs.org/doc/latest/utils'

block content
  include ../../shared/_navbar.pug

  section.hero.header-image.pt-6.pb-6
    .hero-body
      .container.is-fullhd.mt-6
        h1.title.has-text-white
          | Utils

  section
    .container.is-fullhd.mt-6.mb-6
      .content
        p.is-italic.is-size-4
          | &lt; Documentation in progress &gt;
        p
          | Utility methods under 
          span.monospaced require('unnode').utils
          | :
        ul
          li handle
          li isObject
          li isFileReadable
          li isFileReadableSync
          li readFile
          li readFileSync
          li getDirectories
          li _v
          li parseJson
          li convertCountryCodeAlpha2toAlpha3
          li convertCountryCodeAlpha3toAlpha2
          li fetch
          li safeError
          li getClientIp
          li getRequestFullUrl
          li getCopyrightYear

        p.is-size-5
          | Next: 
          a(href='/doc/latest/api-reference' title='Documentation: API reference')
            | API reference
