extends ../../layout/_application.pug

block pageTitle
  title Vhosts - Unnode.js

block content
  include ../../shared/_navbar.pug

  section.hero.header-image.pt-6.pb-6
    .hero-body
      .container.is-fullhd.mt-6
        h1.title.has-text-white
          | Vhosts

  section
    .container.is-fullhd.mt-6.mb-6
      .content
        h2.title ...
        p
          | ...
