extends layout/_application.pug

block pageAttributes
  - const pageTitle = 'Copyright - Unnode.js'
  - const pageCanonical = 'https://unnodejs.org/legal/copyright'

block content
  include shared/_navbar.pug

  section.hero.header-image.pt-6.pb-6
    .hero-body
      .container.is-fullhd.mt-6
        h1.title.has-text-white
          | Website content copyright

  section
    .container.is-fullhd.mt-6.mb-6
      .content.has-text-justified
        p.mb-4.is-size-5
          | This website is copyright &copy; {{ pageAttributes.copyrightYearsStr }} 
          a(href='https://ricforge.com' title='RicForge - Open source engineering.') RicForge
        p
          | You may adapt elements and methods of this site's CSS in your own projects, but 
          | the unique combination of images, colors, sizes, typography, and positioning 
          | ("the design") is copyright &copy; {{ pageAttributes.copyrightYearsStr }} RicForge and may not be 
          | reproduced.