extends ../layout/_application.pug

block pageTitle
  title Documentation - Unnode.js

block content
  include ../shared/_navbar.pug

  section.hero.header-image.pt-6.pb-6
    .hero-body
      .container.is-fullhd.mt-6
        h1.title.has-text-white
          | Unnode.js documentation

  section
    .container.is-fullhd.mt-6.mb-6
      .content.has-text-justified
        ul
          li
            a(href='/doc/latest/getting-started' title='Documentation: Getting started')
              | Getting started
          li
            a(href='/doc/latest/configuration' title='Documentation: Configuration')
              | Configuration
          li
            a(href='/doc/latest/process-clustering' title='Documentation: Process clustering')
              | Process clustering
          li
            a(href='/doc/latest/logging' title='Documentation: Logging')
              | Logging
          li
            a(href='/doc/latest/utils' title='Documentation: Utils')
              | Utils
